[submodule "DevloperNote"]
	path = devloper-note
	url = ssh://192.168.1.158:29419/DevloperNote
	branch = master
[submodule "xWalkAgent"]
	path = xWalk-rpi5-hw/xWalkAgent
	url = ssh://192.168.1.158:29419/xWalkAgent
	branch = master
[submodule "xWalkAudioResources"]
	path = xWalk-rpi5-hw/xWalkAudioResources
	url = ssh://192.168.1.158:29419/xWalkAudioResources
	branch = master
[submodule "xWalkController"]
	path = xWalk-rpi5-hw/xWalkController
	url = ssh://192.168.1.158:29419/xWalkController
	branch = master
[submodule "xWalkHal"]
	path = xWalk-rpi5-hw/xWalkHal
	url = ssh://192.168.1.158:29419/xWalkHal
	branch = master
[submodule "xWalk-rpi5-iw"]
	path = xWalk-rpi5-iw
	url = ssh://192.168.1.158:29419/xWalk-rpi5-iw
	branch = master
[submodule "xWalkLibrary"]
	path = xWalk-rpi5-hw/xWalkLibrary
	url = ssh://192.168.1.158:29419/xWalkLibrary
	branch = master
[submodule "xWalk-rpi5-tool"]
	path = xWalk-rpi5-tool
	url = ssh://192.168.1.158:29419/xWalk-rpi5-tool
	branch = master
[submodule "xWalkTrace"]
	path = xWalk-rpi5-hw/xWalkTrace
	url = ssh://192.168.1.158:29419/xWalkTrace
	branch = master
