[submodule "xWalkDriver"]
	path = xWalkDriver
	url = https://github.com/TARS-v00-01/xWalkDriver.git
	branch = master
[submodule "xWalkAudioResources"]
	path = xWalkAudioResources
	url = https://github.com/TARS-v00-01/xWalkAudioResources.git
	branch = master
[submodule "xWalkController"]
	path = xWalkController
	url = https://github.com/TARS-v00-01/xWalkController.git
	branch = master
[submodule "xWalkHal"]
	path = xWalkHal
	url = https://github.com/TARS-v00-01/xWalkHal.git
	branch = master
[submodule "xWalkLibrary"]
	path = xWalkLibrary
	url = https://github.com/TARS-v00-01/xWalkLibrary.git
	branch = master
