[submodule "DevloperNote"]
	path = devloper-note
	url = ../xWalkDeveloperNote.git
	branch = master
[submodule "xWalkAgent"]
	path = xWalk-rpi5-hw/xWalkAgent
	url = ../xWalkAgent.git
	branch = master
[submodule "xWalkAudioResources"]
	path = xWalk-rpi5-hw/xWalkAudioResources
	url = ../xWalkAudioResources.git
	branch = master
[submodule "xWalkController"]
	path = xWalk-rpi5-hw/xWalkController
	url = ../xWalkController.git
	branch = master
[submodule "xWalkHal"]
	path = xWalk-rpi5-hw/xWalkHal
	url = ../xWalkHal.git
	branch = master
[submodule "xWalk-rpi5-iw"]
	path = xWalk-rpi5-iw
	url = ../xWalk-rpi5-iw.git
	branch = master
[submodule "xWalkLibrary"]
	path = xWalk-rpi5-hw/xWalkLibrary
	url = ../xWalkLibrary.git
	branch = master
[submodule "xWalk-rpi5-tool"]
	path = xWalk-rpi5-tool
	url = ../xWalk-rpi5-tool.git
	branch = master
[submodule "xWalkTrace"]
	path = xWalk-rpi5-hw/xWalkTrace
	url = ../xWalkTrace.git
	branch = master
